<?xml version="1.0" encoding="UTF-8"?>
<mapper nameSpace="com.rongge.ronggeopen.mapper.goods.GoodsMapper">

	<update id="update">
		update goods
		where id=#{id}
	</update>

	<delete id="delete" parameterType="Integer">
		delete from goods where
		id=#{id}
	</delete>

	<aggregate id="findPage">
		SELECT
		   *
		FROM goods
	</aggregate>

	<select id="count" resultType="LONG">
		SELECT COUNT(*)
		FROM goods
	</select>

</mapper>
