<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.rongge.ronggeopen.mapper.goods.GoodsMapper">

	<update id="update">
		update goods
		where id=#{id}
	</update>

	<delete id="delete" parameterType="Integer">
		delete from goods where
		id=#{id}
	</delete>

	<aggregate id="findPage">
		db.goods.aggregate([
		    {	
				      $match: {'price':	{$gte:#{price}}	}
				}
		]);
	</aggregate>

	<select id="count" resultType="LONG">
		SELECT COUNT(*)
		FROM goods
	</select>

</mapper>
